<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="00c3649d-9f1e-4e01-aa6a-016bee0f2a1c" name="UserDetails" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="00c3649d-9f1e-4e01-aa6a-016bee0f2a1cfileName">UserDetails</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
